<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Moses::top_level" title="Moses" module="Moses_Blog" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Moses_Blog::moses_blog_blog" title="Blog" module="Moses_Blog" sortOrder="9999" resource="Magento_Backend::content" parent="Moses::top_level" action="moses_blog/blog/index"/>
	</menu>
</config>
